#tab_gravityformsslack table.gforms_form_settings > tbody > tr > th {
	padding: 0;
	width: 0;
}

#tab_gravityformsslack table.gforms_form_settings > tbody > tr:last-child ,
#tab_gravityformsslack .gform-settings-save-container {
    display: none;
}

#gform_slack_auth_button {
	margin-bottom: 1em;
}

#gform_slack_deauth_button {
	margin-top: 1em;
}